body{
  text-align: center;
  background-color: #c1cad6;
}

table,td{
  border: 1px solid #6B6D9E;
  margin-left: auto;
  margin-right: auto;
}

img{
  height:150px;
  width:200px;
  display: block;
  margin: 0;
  padding: 0;
}

img:hover{
  opacity: 0.5;
}

button{
  color:#6B6D9E;
  border:1px solid #6B6D9E;
  border-radius: 10px;
  background-color: white;
  padding: 3px 3px 3px 3px;
  font-size: 20px;
  font-family:sans-serif;
  cursor: pointer;
}
button:hover{
  opacity:0.5;
}

#logo{
  width:70px;
  height:100px;
  float:left;
}

h1{
  color:#6B6D9E;
  padding-top: 20px;

}

.logo{
  width:300px;
  margin: 0 auto;
}

.button{
  clear:both;
  margin-left:70px;
}

#win{
    color:#6B6D9E;
    font-size: 25px;
}
