body{
  text-align: center;
}

table,td{
  border: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
}

img{
  height:160px;
  width:190px;
  display: block;
}

img:hover{
  opacity: 0.5;
}

#nextlevel{
  text-decoration: none;
  border: 1px solid blue;
  color: white;
  background-color: blue;
  padding: 3px 3px 3px 3px;
  font-size:20px;
  font-family:sans-serif;
}

button{
  color:white;
  border:1px solid blue;
  background-color: blue;
  padding: 3px 3px 3px 3px;
  font-size: 20px;
  font-family:sans-serif;
}
