body {
  font-family: 'Roboto';
}

#container {
  width: 800px;
  margin: 0px 250px;
  padding: 100px 100px 0 100px;

}
#back {
  width: 20%;
  float: left;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  margin: 0 auto;
  width: 40%;
}
.options {
  width: 60%;
  margin: 0 auto;
}

.options div {
  display: inline-block;
  margin: 0.5em;
}

.options img {
  width: 200px;
  height: 200px;
  border: 5px solid;
}

.options div:hover {
  opacity: 0.5;
}

.controls div {
  display: inline-block;
}

.controls {
  width: 35%;
  margin: 0 auto;
}

.controls button {
  margin: 1.5em;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.controls button:hover {
  background: #82ce83;
}
.results {
  border-radius: 15px;
}

#result {
  width: 50px;
  margin: 0 auto;
  padding: 20px;
  font-size: 3em;
}


@media only screen and (max-width: 480px) {
  #back {
    display: block;
    width: 60%;
    float: right;
    height: auto;
  }

  .header {
    padding-bottom: 2em;
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .options {
    width: auto;
    display: block;
    margin: 0 auto;
    float: left;
  }
  .controls {
    float: left;
  }
}
