#back {
  width: 40%;
  float: left;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  margin: 0 auto;
  width: 40%;
}
.options {
  width: 55%;
  margin: 0 auto;
}

.options div {
  display: inline-block;
}

.controls {
  margin: 0 auto;
}

.controls div {
  display: inline-block;
}

.controls {
  width: 35%;
  margin: 0 auto;
}

.controls button {
  margin: 1.5em;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.controls button:hover {
  background: #82ce83;
}
.results {
  border-radius: 15px;
}

#result {
  width: 50px;
  margin: 0 auto;
  padding: 20px;
  font-size: 3em;
}


@media only screen and (max-width: 480px) {
  #back {
    display: block;
    width: auto;
    margin: 0 auto;
  }
  .header {
    display: block;
    width: auto;
    margin: 0 auto;
  }
  .container .options {
    width: auto;
    display: block;
    margin: 0 auto;
    float: left;
  }
  /* #options div {
    grid-template-rows: 100px 100px 100px 50px 50px;
    grid-template-columns: 80%;
  } */
/* #container {
  grid-template-columns: 80%;
}
} */

/* @media only screen and (min-width: 480px) and (max-width: 786px) {

} */
